@use "../../styles/abstracts/" as *;
@use "../../components/Job/Job.module.scss" as j;

$color: $blue-100;
$bg-color: hsl(180, 29%, 85%);

$py: 0.35em;
$px: 0.75em;

.tag {
  display: flex;
  place-items: center;

  border-radius: j.$border-radius;
  background-color: $bg-color;
  padding: $py $px;

  font-weight: $bold;

  color: $color;

  transition: all 0.05s ease-in;

  &:hover {
    color: $gray-200;
    background-color: $color;
  }
}

@media (max-width: $small) {
  .tag {
    padding: $py * 0.5 $px * 0.5;
  }
}
