/*PRIMARY*/
$blue-100: hsl(180, 29%, 50%);

/*NEUTRAL*/

//background
$blue-300: hsl(180, 52%, 96%);

//Filter Tablets
$gray-200: hsl(180, 31%, 95%);
$gray-100: hsl(180, 8%, 52%);
$gray-300: hsl(180, 14%, 20%);
